body { 
	font-family: verdana; 
	font-size: 7.5pt;
	background: #000;
	color: #fff;
	height: 100%;
	width: 100%;
	margin: 0;
}
h1 {
	font-size: 1.8em;
}
#page {
	margin-left: 250px;
	padding: 1em;
}
#sidebar, #sidebarbg {
	width: 250px;
}
#sidebar {
	position: relative;
	float: left;
}
#sidebarbg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #111;
}
#sidebarcont {
	margin: 1em;
}
#wrapper {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

#sidebar ul {
	padding-left: 2em;
}

fieldset {
	border: 1px solid #888;
}

hr {
	border: none;
	border-bottom: 1px solid #888;	
}

span.upload {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

span.upload input[type=file] {
	opacity: 0.0000001;
	filter: alpha(opacity=1);
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

span.upload:hover input[type=file] {
	display: inline;
}

#output {
	background-color: #2e3b41;
	padding: 1em;
	margin: 1.5em 0;
	text-align: center;
}

a,a:visited,a:active {
	text-decoration: none;
	color: #33a;
}

a:hover {
	color: #55f;
}

input, label {
	display: block;
}

div.col2 {
	width: 50%;
	float: left;
}

#preview {
	display: inline-block;
}

#previewcont {
	text-align: center;
}

#charsleft {
	font-weight: bold;
}

#charsleftcont {
}

.creds th {
	text-align: right;
}